[2018-07-04 06:41] neogeno opened #1 "Using port number doesn't work"
If you specify to download from a url with IP:PORT it will crash with

{ Error: getaddrinfo ENOTFOUND 34.235.190.68:3000 34.235.190.68:3000:3000
   at errnoException (dns.js:53:5)
   at onlookup (dns.js:95:5)
  code: 'ENOTFOUND',
  errno: 'ENOTFOUND',
  syscall: 'getaddrinfo',
  hostname: '34.235.190.68:3000',
  host: '34.235.190.68:3000',
  port: '3000' }

[2018-07-04 06:51] hgouveia commented on #1
Hello @neogeno I will fix it as soon is possible, if you already have a solution, you are welcome to contribute with a pull request :)

[2018-07-04 08:04] #1 closed

[2018-07-04 08:05] hgouveia commented on #1
Hello @neogeno the issue should be fixed now in the 1.0.8 version, please update your package and let me know if worked for you

[2018-07-13 08:36] hakankaraduman opened #2 "Exception EFBIG"
Thanks for this package. It works really well.

I try to download a file of size 2.67 GB. It gives error EFBIF: File too larget at around 84.5%. Is there a file size limitation and can I change it?

My node app runs on raspberry bi/raspbian jesse.

[2018-07-13 08:49] hgouveia commented on #2
@hakankaraduman Thanks you very much!

The library doesn't has any file size limitation, also doesn't store the data in memory since it write the data directly to the file as soon it receives, but i will need to double check that, what i can think of  :

1. the storage is full
2. the storage is FAT32 partition format

Are you able to share the link of the file is causing you troubles so i can debu

[2018-07-13 08:58] hakankaraduman commented on #2
Yes the sd card is fat32 formatted but the file size is not over 4 gb.
Link is just a video I downloaded from youtube and uploaded to my server, just to test downloading a big file.
Here is the link to it: https://hwnodestorage.blob.core.windows.net/releases/Beautiful HD Aquarium Video - Georgia Aquarium (Ocean Voyager I)-zJ7hUvU-d2Q.mp4

[2018-07-13 11:15] hgouveia commented on #2
@hakankaraduman i was testing your file,  i was able to download it from a FAT32 storage without any issue, i also tested this on a raspberry pi with not issues either, additionally i downloaded a 7GB , 10gb file , not issues there

It seems the issue is not related with the Downloader itself, i will suggest to try in another location or verify your drive for errors , sometimes drives with errors

[2018-10-03 08:06] agungsijawir opened #3 "Is there any options to configure using self-signed certificate?"
Hi,

I am using your library and wonder if there is a options to connect to https server using self-signed certificate? thank you!

[2018-10-03 16:02] hgouveia commented on #3
Hello @agungsijawir , for now it doesnt support  using self signed, but i will add this option during this week, basically i will allow pass http/https request options, so you can use all options listed on https://nodejs.org/api/https.html#https_https_request_options_callback

using `rejectUnauthorized: false`  or for example

[code]

i will let you know in this issue ticket, when is done, but for

[2018-10-12 10:06] hgouveia commented on #3
Hello @agungsijawir  , i added a fix for this issue,  is now in the **dev**  branch,  please go ahead and download that version as zip file , and just override the folder in yout **node_modules** ,
or using this command

`npm i -S  git://https://github.com/hgouveia/node-downloader-helper.git#dev`

in other to test, you need to send a option

[code]

if that doesnt work for you, you could specify y

[2018-10-12 10:14] agungsijawir commented on #3
@hgouveia thank you for your efforts! Will try the these updates!

[2018-10-18 00:59] agungsijawir commented on #3
Hi...

After update to `dev` branch, I got these errors:
[code]

I am using:
Node Version: 8.9.3
Chrome Version: 61.0.3163.100
Electron Engine Version: 2.0.0

[2018-10-18 01:00] agungsijawir commented on #3
Hi @hgouveia ...

After update to `dev` branch, I got these errors:
[code]

I am using:
Node Version: 8.9.3
Chrome Version: 61.0.3163.100
Electron Engine Version: 2.0.0

Any idea ?

[2018-10-18 10:54] #3 closed

[2018-11-07 06:45] karmac2015 opened #4 "Download after connection interrupted"
There is a way to auto resume downloading file after connection is interrupted ? I need a timeout option when connection is interrupted more than timeout so an error is triggered and if connection is established again so download will resume downloading.

[2018-11-12 10:38] hgouveia commented on #4
Hello @karmac2015 , right now the library doesn't has this functionallity but is an interesting feature that i didn't thought about and i will add in the future

but for now, what you can do , is use the "error" event to retry with .resume or .start

[code]

could you try this and let me know if worked for you?

[2018-11-12 10:59] karmac2015 commented on #4
Ok I will try to use your concept but how can I set the timeout, so when error occurs after timeout is exceeded ?

[2018-11-12 11:19] hgouveia commented on #4
this can be done in multiples way, you can get the time when the download starts and compare when the error triggers

[code]

note : this code is just a example, might now work or has some typos

[2018-11-12 11:32] karmac2015 commented on #4
I tried your example and I set the timeout for:  15 * 60 * 1000 // 15 min, but when network is available again before that time download helper does not continue downloading file.
I don't know if you understand my problem, my network is unstable and I need to continue download file after the connection is corrupted and reconnected again

[2018-11-12 11:40] hgouveia commented on #4
yeap, i got you issue, my question is when you got the timeout, do you get this error on the Error event?.
but basically the idea is the same if you can catch this error, the solution will be trigger the resume after that

about why if you trigger resume, it starts from the beginning, this could be that the URL where you are downloading the file doesnt support resume header

btw i just created a G

[2019-01-11 02:00] BlackHole1 opened #6 "How to prevent renaming?"
If you download multiple files, you will add (1), (2) such strings later.
But the demand is to cover them instead of renaming
This library has related APIs that can prevent this?

[2019-01-11 02:19] BlackHole1 commented on #6
I have solved it, need to configure `override: true`

Still very grateful to you for providing such a good library

[2019-01-11 02:19] #6 closed

[2019-02-17 00:04] Wetbikeboy2500 opened #10 "Add a return on end event for renamed file"
When the override attribute is set to false and a file is downloaded, if there is already a file of that name, it creates a new one with a number attached. This naming convention is handled by the downloader, so there isn't a straightforward way the capture this renamed file or even know the file has been renamed. On the end event, there should be a returned object or value that indicates that the

[2019-02-18 08:55] hgouveia commented on #10
Hello @Wetbikeboy2500 , thanks for you feedback,

i don't have date estimation to add this functionality but i agree to add those,

for the meantime , what you can do, is use the `fileName` option attribute, this will use the name you provided instead,, so you will need to detect it yourself first, and manage it before create the DownloaderHelper object, and then pass the new name into the options

[2019-02-18 14:44] Wetbikeboy2500 commented on #10
@hgouveia Thanks, that workaround will be easy. Also, this could be a separate issue but I'll just put it here. The `fileName` rewrites the original file with its extension name. I am currently reading the extension data of the file after downloading to rename it with the correct extension. If 'fileName' only changed the files name and not extension it would be much easier on the process of gettin

[2019-03-14 11:49] kingio opened #11 "Download finishes before reaching 100%"
When download reaches 2%, status goes to FINISHED and `end` event is fired.
Server has `accept-ranges: bytes`  and it's an nginx acting as CDN with Cloudflare layer over it.
Also it only happens over Windows. On linux it works fine.

I had to make this hack:
[code]

That way it keeps going until reaches 100%.

[2019-03-14 16:30] hgouveia commented on #11
hello @kingio  is this url a public url that you could share , to be able to reproduce it?

[2019-03-18 10:47] kingio commented on #11
nope :(

[2019-03-18 11:49] hgouveia commented on #11
@kingio  if you are able to re-create the same environment with vagrant with minimal setup or something that i could use to reproduce it would be very helpful

[2019-06-03 07:10] shenlanchenwei opened #12 "download Fail"
When the file name of the downloaded file is too long, the file download will fail.

[2019-06-03 08:34] hgouveia commented on #12
hello @shenlanchenwei ,

this could be  because of Windows path limitation
https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file#maximum-path-length-limitation

do you have any error message when this happens? if so could you copy and paste in here the output?

for the meantime i suggest to workaround, use the  `fileName` option to override the original name , but this will be a fi

[2019-06-28 07:29] ZhangZheng-GIS opened #13 "How to continue downloading unfinished files when restarting the program"
How to continue downloading unfinished files when restarting the program.
Is there a way like fs.appendFile() or fs.createWriteStream(path, { flags: 'a' }) ?

[2019-06-28 08:13] hgouveia commented on #13
Hi, @ZhangZheng-GIS

the package already takes care of this, it actually uses ` fs.createWriteStream(path, { flags: 'a' })`,

but if you restart the program this wont work since it doesnt know anything about the file before, is designed to Resume, when is paused during the download, but this could be improve, to resume if necessary if the file already exists

for the meantime you could do this wor

[2019-06-28 08:52] ZhangZheng-GIS commented on #13
It works! Thanks!
But, the progress is not right.
![图片](https://user-images.githubusercontent.com/14178404/60330417-f84dd180-99c4-11e9-8e22-c52b116c2534.png)

[2019-06-28 09:05] ZhangZheng-GIS commented on #13
It's OK, when I set `dl.__total = total_bytes;`

[2019-06-28 09:26] hgouveia commented on #13
great, if you already know the total bytes in advance you can just do that, if not you could request it before

somehting like

[code]

[2019-07-02 02:59] ZhangZheng-GIS opened #14 "How to get the feedback, when the file append '(number)' to the end"
How to get the feedback(new filename), when downloading the same file appended '(number)' to the end?

[2019-07-02 07:37] #14 closed

[2019-07-11 17:07] mass85 commented on #11
This problem is more general. When HTTP server is restarted, TCP connection is closed, readable and writeable streams are closed and transfer finished event is reported: https://github.com/hgouveia/node-downloader-helper/blob/6f2c5ce87592df405aa1db9fcd0285ded776938f/src/index.js#L200 Unfortunately it does not mean that whole file has been transferred. So I think that library should check if file h

[2019-07-14 03:08] lyswhut opened #15 "Add an event during the downloadRequest phase"
Hello!
Can you add an event during the `downloadRequest` phase?
When the `downloadRequest` phase request is successful, send an event containing the file information (such as file size) that will be downloaded, so that I can save the file information for recovery download when the event is triggered.

[2019-07-14 08:57] hgouveia commented on #15
Hello @lyswhut , there is already an Event when the request succesfully starts, is the **download** event, but not information is sent, i agree that adding this information could be really useful!, i will add it for sure,  btw the Progress Event does has the total file size , so you could listen that one once `dl.once("progress", (stats) => console.log('Filesize;', stats.total));` , and get the fi

[2019-07-15 03:42] lyswhut commented on #15
It is recommended that when the request fails, the sent error object is changed to a response object, and then we can decide how to handle the error according to the response.
https://github.com/hgouveia/node-downloader-helper/blob/6f2c5ce87592df405aa1db9fcd0285ded776938f/src/index.js#L168

[2019-07-15 04:26] lyswhut commented on #15
Now I have to do this:
[code]
In some cases, we may also want to get `presonse.body`

[2019-07-15 08:02] hgouveia commented on #15
i willl also add the request error as a second parameter, in onError event,

about the "Refresh URL", is an interesting idea, but not sure if necessary, you could just create a new instance with the new url

[2019-07-15 08:09] lyswhut commented on #15
When the URL expires, we need to refresh the URL to resume the download, instead of creating a new instance, what do you think?

[2019-07-15 08:14] hgouveia commented on #15
@lyswhut  is an interesting idea, i think is really specific to your case, but doesnt hurt to have this functionality, could you create a separate issue for this?

[2019-07-15 08:21] lyswhut commented on #15
I think it should be associated with this problem: https://github.com/hgouveia/node-downloader-helper/issues/13
They all belong to the "Resume Download" feature.
When you resume downloading, you can choose whether to update the URL

[2019-08-30 08:02] hz0324 opened #16 "Hi, how can I set the progress event fired at 100 ms?"
Thank you very much for the package, it helps me a lot.
But I have a problem using it.

Because my app is download very small files, usually below 3 MB.
If the progress event fired 1 seconds a time, user can only see 2 or 3 numbers before it finished. It is really bad for user experience.

So, can I change the time interval? where to do it? Thanks.

[2019-08-30 08:28] hgouveia commented on #16
Hello @hz0324!

This issue actually was bring up  before and was fixed in this pull request https://github.com/hgouveia/node-downloader-helper/pull/9 , but the issue is that is not yet in the current master branch

i wanted to packaged more features into this version so that's why is not yet published,

you could do 2 things, get the npm package from github like this

`npm i -S https://github.com/

[2019-08-30 09:17] hz0324 commented on #16
@hgouveia Thank you very much for the instant reply. I will try it out.

[2019-08-30 09:18] hz0324 commented on #16
@hgouveia BTW,when will you release the new version? We are not hurry, we can wait for the new code.

[2019-08-30 09:28] hgouveia commented on #16
i will try to release the next month if the time is on my side, since i want to add some others fixes/enhancements requested,

i will close this issue and let you know when this happen replying to this 👍

[2019-08-30 09:28] #16 closed

[2019-09-04 15:04] hgouveia commented on #4
Closed, added in version `1.0.11`

[2019-09-04 15:04] #4 closed

[2019-09-04 15:04] hgouveia commented on #10
Closed, added in version `1.0.11`

[2019-09-04 15:04] #10 closed

[2019-09-04 15:04] hgouveia commented on #12
Closed, added in version `1.0.11`

[2019-09-04 15:04] #12 closed

[2019-10-03 17:10] Anish-Shobith opened #17 "Event progress seems to spam the console."
It was working fine until this afternoon, then tonight when tried it again it seem to spammed the console.
Code to reproduce.
[code]

I even check if the bar is not making any issues as such , and i was write the bar as nothing to do with it I logged it by doing
`console.log(`${byteHelper(stats.downloaded)}/${byteHelper(stats.total)}`);`
And it spammed the console.
Images:
with progress bar I made

[2019-10-05 22:45] Anish-Shobith commented on #17
The issue was from my side , The progress bar acts how you designed. I realized that for sharing the snippet of the code to some one i made the progress bar from
[code]
to
[code]

[2019-10-05 22:45] #17 closed

[2019-10-06 09:30] hgouveia commented on #17
Perfect! good to know! love your progress bar btw!

[2019-10-06 12:32] Anish-Shobith commented on #17
Thanks a lot, I might write a downloader and a progress bar npm module using node-downloader-helper and progress modules very soon!

[2019-10-21 15:33] abdolrhman opened #19 "can i use this package with ftp protcol"
can i download files with ftp protocol instead of http ?

[2019-10-23 07:34] hgouveia commented on #19
@abdolrhman at the moment does not support FTP, I will consider adding support in future releases

[2019-10-23 09:14] abdolrhman commented on #19
I could help you with  implementing FTP ...
I need to have this functinality for node-ftp,
as there is no ftp node package that implement this functialities .
what do u think ?

[2019-10-23 09:29] hgouveia commented on #19
I was checking this possibility earlier today but I didn't find a simple way of implementing using just native node.js since one of the goals of this library is not to have dependencies. Is possible to implement it completely native but I will end up creating an entire FTP client because you need to take in consideration a lot of scenarios, for example, Authorization, FTPS, TLS, etc

after some co

[2019-10-23 09:40] abdolrhman commented on #19
so your thinking to create a plugin for node-ftp or for any package that implements this protocl,
as for implememinting this functionalites ?
because i was thinking to do the same, till i saw your package.
so i thought we could close the gaps and create some thing similar for ftp

[2019-10-23 09:56] hgouveia commented on #19
I was thinking more the possibility to add a plugin/middleware system to this library,

something like

[code]

and basically will use `ftpPlugin` to handle the 'download' operation, and this can bring more possibilities to extended it

[2019-10-23 10:10] abdolrhman commented on #19
that would be a fantastic thing,
because from where i see , there is  no package at all that implement the download from ftp with respect for (stop/ resume/ cancel ) the download,
implementing this will change the game,
And i think will attract alot of people,
because download by ftp is more secure and better than download from http.

[2019-10-31 12:53] IhorVimmi commented on #13
Can anyone help me with this error? I just got code from your example)

UnhandledPromiseRejectionWarning: Error: EISDIR: illegal operation on a directory, write

`Download failed, Attempting Retry
(node:27868) UnhandledPromiseRejectionWarning: Error: EISDIR: illegal operation on a directory, write
(node:27868) UnhandledPromiseRejectionWarning: Error: EISDIR: illegal operation on a directory, write

[2019-10-31 13:49] hgouveia commented on #13
@IhorVimmi for what I can see in the logs, it seems you don't have permission over that particularly folder, could you try in another folder?

[2019-10-31 14:21] IhorVimmi commented on #13
@hgouveia sorry, i found the solution. i set wrong  dl.__filePath - it should be full with name of file) but i have another question, can i get filename without requests?

[2019-10-31 15:26] IhorVimmi commented on #13
@hgouveia thank you man) you save my time)
But i have another issue
I need to download a few files and display general progress for them. I use a progress event where I calculate total data for files (received and total).
`.on('progress', (stats) => {
          let total = 0;
          let received = 0;

          for (const item of this.downloadingFilesList[id]) {
            received += stats.do

[2019-10-31 15:49] IhorVimmi commented on #13
@hgouveia thank you man)

[2019-10-31 16:01] hgouveia commented on #13
yeap the thing is that you can't use the same event for all of them you need to create a new DownloadHelper for each one

for example something like this, but all of them will download at the same time,
[code]

you could create a promise queue too, but you will get the totalsize one by one, so in that case is better if check the size for all of them previously , and then call the queue, something

[2019-11-12 09:57] ZhangZheng-GIS opened #20 "Can I use this package limit the download speed？"
Can I use the module limit the download speed？

[2019-11-12 10:07] hgouveia commented on #20
@ZhangZheng-GIS in theory you could by using the `dl.pipe()` function with some external module like `stream-throttle` or `node-throttle` but not sure about this, could you try it? I would be very interesting to see the result of this

[2019-11-13 00:53] ZhangZheng-GIS commented on #20
I'll try it, thx

[2019-11-14 12:36] ZhangZheng-GIS commented on #20
There is a problem with the `dl.pipe()` function when I use the `stream-throttle` module, downloading files will not proceed.
[code]
When I use native nodejs to download, it works.
[code]
I noticed that the order of the pipes is important.
I hope you can improve this package.
Thanks！

[2019-11-14 12:58] hgouveia commented on #20
That's probably the issue since I applied external pipe after, I probably need to change the order,

could you try to modify that part of this library for me to verify?

from
[code]

to
[code]
https://github.com/hgouveia/node-downloader-helper/blob/master/src/index.js#L276

[2019-11-15 09:00] ZhangZheng-GIS commented on #20
I tried to modify the pipes order according to the method you provided, but it didn't work and the download will stop not going.
But using nodejs using pipe in reverse order download will download at full speed.
I think it should be a problem elsewhere, maybe a problem with the use of the dl.pipe().

[2019-11-15 09:12] hgouveia commented on #20
@ZhangZheng-GIS yes so probably is bug in the `.pipe` function , I will check it when I have the time and let you know

Thanks!

[2019-11-15 09:16] ZhangZheng-GIS commented on #20
@hgouveia Looking forward to your reply！

[2019-11-18 10:45] hgouveia opened #21 "When the file is only downloaded a part, but the URL expires, we need to update the URL to resume the download., (Linked #13)"
from @lyswhut in #15

So basically the idea will be to add something like `dl.resume(newUrl);` and this should update the URL

or probably be a fallback/mirror URL list

[code]

[2019-11-18 11:12] hgouveia commented on #20
@ZhangZheng-GIS I fixed this on the dev branch, please verify it

using `npm install --save hgouveia/node-downloader-helper#dev`

also, use `Throttle` instead of `ThrottleGroup`

ex:

[code]

if everything ok, let me know to release the package

[2019-11-19 07:39] ZhangZheng-GIS commented on #20
Great, it works, it can limit download speed.

But I found that using `dl.resume()` would fail (state:FAILED) with an error and it would work when `dl.pipe()` was not used.
[code]
I need the resume download feature, do you know how to solve this problem?

[2019-11-19 15:01] hgouveia commented on #20
hello @ZhangZheng-GIS

I couldn't find a suitable solution yet😩 , because of the way I implemented resume, it doesn't play well with pipes, i trying to find a solution , but for the meantime, since Throttle doesn't need the previous data , you could do this workaround

move the `dl.pipe` inside the `download` even instead, like this

[code]

[2019-11-20 11:25] ZhangZheng-GIS commented on #20
Hello @hgouveia

I use the above method to resume the download, it will download from the beginning, but I want to append downloading  the downloaded file.

I tried the following way to resume the download, but the range of the append download file is wrong, the file size of the completed file is larger than the actual size.
[code]
Would you please help me with this problem?
Thx

[2019-11-21 09:14] ZhangZheng-GIS commented on #20
Hello @hgouveia
The above problem is because I used the wrong download link.😂
I can limit the download speed and resume downloading using the method you provided.
Please release the package.
Thanks again！

[2019-11-22 11:04] ihor-zinchenko opened #22 "Stop downloading without deleting file"
How I can stop downloading without file deleting?

I have electron app with node-downloader-helper
Before closing the application, I've got an error http://joxi.ru/brRap3JI7dLdBA, I think that may be related to downloading the file. I do pause before closing the application.

[2019-11-22 11:15] hgouveia commented on #22
Yeap this lib, remove the file automatically when **Stop** is called or fails, but if you call **Pause**  it does the same as **Stop** but without the file removing,  you mentioned that you pause on close, so it shouldn't remove your file, what I think is happening, is that the close is not finished after close, and this probably is a bug of my part,

I will investigate and fix it in the new relea

[2019-11-22 11:49] IhorVimmi commented on #22
still happens but not always. if I pause and unpause downloading I've got error always but when I start and pause once before close sometimes I didn't get error

[2019-11-24 12:16] NickPepper commented on #22
I got exactly the same issue in my Electron-app.

[2019-11-25 15:29] hgouveia commented on #20
Ey @ZhangZheng-GIS I just updated the lib with a more proper way, so now you shouldn't need to re-pipe in the `dl.on('download'` event, now you can do it as fallow

[code]

[2019-11-25 15:33] hgouveia commented on #22
@IhorVimmi @NickPepper  ,

I just added a fix for this on my dev branch, could you test it? using `npm install --save hgouveia/node-downloader-helper#dev`

when using  `stop` now will wait until the file is closed, and I added a new option called `removeOnStop` that you can set to `false`  to avoid the file deletion

[2019-11-26 09:57] ZhangZheng-GIS commented on #20
Hello @hgouveia
I verified it and had two questions.
1. I use `stream-throttle` to limit the speed. In the new version, the speed limit is the speed limit for each downloading data, while the previous version is the overall speed limit. Can it be set？

2. Why did you delete line 125 of the code so that when I reopen the application it can't resume downloading unfinished files？
`src/index.js` L125

[2019-11-26 10:41] hgouveia commented on #20
Hello @ZhangZheng-GIS

1. This is really interesting, this should be working as the previous one, but you could try to re-use the  pipe to all downloads? something like

[code]

2. I needed to remove that line **L125** `this.__downloaded = this.__getFilesizeInBytes(this.__filePath);`, because if you are using, for example, a compressing pipe like gzip, and you read the bytes in the files, when you

[2019-11-26 13:03] IhorVimmi commented on #22
@hgouveia, unfortunately, the same, I used stop instead of pause but I got the same result

[2019-11-26 13:08] hgouveia commented on #22
@IhorVimmi is possible you can setup a minimal electron app, reproducing your issue and send it to me?

[2019-11-26 13:11] IhorVimmi commented on #22
@hgouveia sure, I'll prepare and send it tomorrow, thank you for your work!

[2019-12-09 12:57] hgouveia commented on #22
hello @IhorVimmi any luck with this?

[2020-01-29 09:47] hgouveia commented on #22
@IhorVimmi any luck with this?

[2020-02-04 09:00] hgouveia commented on #15
Implemented download info at the 'download' event on v1.0.12

[2020-02-04 09:00] #15 closed

[2020-02-04 09:01] hgouveia commented on #20
Fixed pipe functionality on v1.0.12

[2020-02-04 09:01] #20 closed

[2020-02-29 16:10] eric8810 opened #23 "No status change when cut off the network while downloading"
"node-downloader-helper": "^1.0.11"

I try to follow every event, but nothing happen when network cut off and download actrually failed.
![image](https://user-images.githubusercontent.com/756579/75610965-0904a780-5b51-11ea-8838-9c8970245489.png)

Event hang on like pictures above. And nothing happened neither while network back up online.

dl.on('error', err => {
      console.log('download error'

[2020-03-02 08:49] hgouveia commented on #23
Hello @eric8810, this seems to be a bug, I will check it and get back to you, thanks!

[2020-03-04 13:30] VTGUS-ZW opened #24 "Resuming download after restart results in actual file size being incorrect causing corruption"
Hello,

I've got some base code setup using what I found in issue [13](https://github.com/hgouveia/node-downloader-helper/issues/13#issue-461898383). However it seems that once the download "resumes" or starts again it doesn't realize the byte size the file already is and just re-downloads the file to the same location/file causing overlap and mismatched byte size. Is the package supposed to detec

[2020-03-04 14:35] hgouveia commented on #24
Hello @VTGUS-ZW  , yes,  before it calculated the bytes already downloaded automatically, but i removed this since it because if you were using a pipe for example for compress it, the filesize won't match the real downloaded file size, so if you aren't using any pipe, you can add this

[code]

[2020-03-04 15:09] VTGUS-ZW commented on #24
Thank you for your reply, I just added it and it seems that it's throwing an error.. Do you have any suggestions, and or ideas for this error?

[code]

[2020-03-04 15:14] hgouveia commented on #24
this is weird, it seems it sent 0 bytes to the resume request, make sure that you put the code i sent you after this

` dl.__filePath = FullFilePath + FileName; //<--- Workaround`

so it will looks like

[code]

also try to console.log this `dl.__getFilesizeInBytes(dl.__filePath);`  to verify you got the bytes

[2020-03-04 15:45] VTGUS-ZW commented on #24
I was able to get it working, thank you! It was an issue with the file that already exists. I just removed that locally and found that it wasn't throwing the error anymore. The file that is local was larger than what it should have been and I believe that was tripping it up.

[2020-03-04 15:45] #24 closed

[2020-03-12 07:09] eric8810 commented on #23
yes,
1.add listener like I post above
2.start download
3.while downloading, switch off your computer's network(wifi or wired lan)
4.wait and see how events changing.

[2020-03-12 08:50] hgouveia commented on #23
Hello @eric8810, I think I might found the issue, I made a fix under dev branch,

could you validate it is working for you now? you could achieve this installing it in this way `npm i -S  hgouveia/node-downloader-helper#dev`

[2020-03-25 11:31] eric8810 commented on #23
ok，I will test get you a feedback

[2020-03-29 04:11] eric8810 commented on #23
sorry to reply late, the commit doesn't seems take effects.
![image](https://user-images.githubusercontent.com/756579/77840135-59097500-71b6-11ea-9d34-8e2a53abaedd.png)

![image](https://user-images.githubusercontent.com/756579/77840140-6a528180-71b6-11ea-9dd6-3dc5ff0a59ef.png)

[2020-03-30 09:58] hgouveia commented on #23
@eric8810 strange, for me, is working but I am using Windows, probably is something in OS level, are you using Linux or Mac?

**_In here I cut out the network and re-enable, so you can see is changed to Failed as it should_**
![electron_ZR4tFi3T3U](https://user-images.githubusercontent.com/668866/77899855-76eddd00-727d-11ea-81ec-5b75ce7376be.png)

**_in here i tried with retry enabled_**
![electro

[2020-03-31 08:14] ZhangZheng-GIS opened #25 "Response status was 500"
There are two types of file download links, starting with `http://10.154.3.130/drive/newDownloadFile.do?appFileId=d50996dc730211ea9ac2fa163...` and `http://10.154.3.158:8090becpan5201805111716578384cc46ccf8ae6f43b6a6b5...`.

The former link comes from the server, the latter link downloads the file directly from the Object-based Storage.

The former can be successfully downloaded in the browser, bu

[2020-03-31 09:36] hgouveia commented on #25
@ZhangZheng-GIS is possible to get the full link of these scenarios? probably just generate 2 public links with any content, for me and then you can remove it

currently, I don't have any Object-based storage to generate such links,

the only issue I see is with this one, `http://10.154.3.158:8090becpan5201805111716578384cc46ccf8ae6f43b6a6b5` , where you might need to separate de port something li

[2020-04-02 08:33] ZhangZheng-GIS commented on #25
`https://pan.cmsoft.com.cn/drive/newDownloadFile.do?appFileId=8a90eb1a748e11eaa0223c78a4d1295a&fileVersion=0&downSource=1&diskType=1&groupId=&comeFrom=10&creatorUsn=3840&isIp=0&corpId=1480&ip=112.25.154.146&userId=zhangzheng_cmss_chinamobile_com&usn=3840&user_Agent=Mozilla/5.0%20(Windows%20NT%2010.0;%20Win64;%20x64)%20AppleWebKit/537.36%20(KHTML,%20like%20Gecko)%20Chrome/80.0.3987.162%20Safari/537

[2020-04-02 12:44] hgouveia commented on #25
thanks, @ZhangZheng-GIS , I just tried and worked for me, I was able to download it, so it seems at the URL resolution is working, but I would suggest, could you try increasing the timeout? you could do it like this

`const dl = new DownloaderHelper(url, __dirname, { httpsRequestOptions: { timeout: 600000 } })`

the timeout is in milliseconds, if it fails again, please copy the error in here

[2020-04-03 02:20] ZhangZheng-GIS commented on #25
`const dl = new DownloaderHelper(url, __dirname, { httpsRequestOptions: { timeout: 600000 } })`
I set it up like this, but after downloading more than ten MB, the ‘end’ event is triggered. Can you download the file completely?
The download speed using a browser is greater than 1MB/s, but using node-downloader-helper is only 40KB/s. Is this the same for you?

[2020-04-03 06:40] hgouveia commented on #25
Hello,  yesterday I downloaded around 1gb and the speed was about 1MB/s , but I will try to download the entire thing and let you know my findings

some info on my part:
- I am using Windows 10
- Nodejs 12.6.1 x64

could you verify your node version? are you using Electron?,
shouldn't be related, but I had some fixes for nonrelated issues, but could you try this version? `npm i -S hgouveia/node-do

[2020-04-03 07:02] ZhangZheng-GIS commented on #25
Windows 10
nodejs 10.15.0 x64
"electron": "5.0.9"
Used [electron-vue](https://github.com/SimulatedGREG/electron-vue)

Your download speed is normal, it seems to be a problem with my code.
I will try the dev version.
Thx!

[2020-04-03 07:12] hgouveia commented on #25
i suggest you upgrade your electron since you are using a quite old one, the latest electron is using node 12.x

![image](https://user-images.githubusercontent.com/668866/78333936-13202880-758b-11ea-80a8-4e23105daabf.png)

[2020-04-05 06:51] eric8810 commented on #23
![image](https://user-images.githubusercontent.com/756579/78468687-cf751c80-774c-11ea-9d8f-57ca9acf84fe.png)
I'am using your example code, and still the same
platform is macOS catalina 10.15.4

[2020-04-07 08:53] hgouveia commented on #25
Closing this issue

we found out that increasing the timeout could help, ex:
`const dl = new DownloadHelper(url, __dirname, { httpsRequestOptions: { timeout: (1000 * 60 * 60) * 3 } }`

also @ZhangZheng-GIS found out that,  `dl.on('progress', ({ progress, speed, downloaded }) => {...})` could make the download slow, but using a separate function for some reason have better performance, ex:

[code]

[2020-04-07 08:53] #25 closed

[2020-04-07 08:54] hgouveia commented on #11
i've found out that increasing the timeout could help, ex:
`const dl = new DownloadHelper(url, __dirname, { httpsRequestOptions: { timeout: (1000 * 60 * 60) * 3 } }` (3h)

not sure if will work in all situation

[2020-04-08 02:40] ZhangZheng-GIS commented on #25
`error` Event return `Response status was 500` because I did not set `User-Agent ` in the `headers` option.

[2020-04-21 18:13] Chaphasilor opened #27 "Missing extension when trying to download webpages"
I just tried 'downloading' `https://google.com` using the following command:

[code]

This will download the page, but the filename will be `test.`, without the `html` part. On windows, this will cause a corrupt file which can't be renamed or deleted.

I'm guessing this is because of `ext: false` and the fact that there normally is no extension when loading a webpage.
However, this should not happ

[2020-04-21 19:26] Chaphasilor commented on #27
FYI I also encountered other issues with `ext: false`, for example about 50 random characters as the extension when downloading a video. I don't have the link rn, but maybe you should check your code that determines the extension and provide some sensible fallbacks for common file formats?

[2020-04-21 20:07] hgouveia commented on #27
@Chaphasilor thanks for your report!, this is great information I will check it out as soon as possible, also if you already have a solution you are welcome to contribute with a PR

[2020-04-21 20:16] Chaphasilor commented on #27
Sadly I don't have too much time at hand right now, but I might take a look at it at some point.  Don't quote me on that though...

[2020-04-30 19:43] Chaphasilor opened #28 "UnhandledPromiseRejection-Error when server responds with 403"
I have encountered an error where a promise rejection isn't properly caught inside the module.
It happens when the server responds with status `403`.

Here's the log:

[code]

The `.on('error')` handler is working and catching the error, but it seems like it is thrown again afterwards.
I tried wrapping the download constructor inside a `try...catch` block but that didn't help.

Any ideas why this

[2020-05-01 09:57] hgouveia commented on #28
Hello @Chaphasilor , this is intentional, the `.start()` returns a promise , i will resolve when the download is finished, or reject when fails to download , you can fix it just adding a catch

[code]

[2020-05-01 09:59] Chaphasilor commented on #28
Ahhh I see, didn't think about handling `.start()`...

Thanks for the response!

[2020-05-01 10:02] #28 closed

[2020-05-11 09:40] hgouveia commented on #23
@eric8810 I've tried my best to try to fix this but I can't found out a solution, it seems is an issue of nodejs on MacOS that I can't fix on my end

but I've found out a workaround,  when you disconnect the network from MacOS , it will emit a timeout , so you could just change the timeout from the options

add this into the downloader options
[code]

[2020-05-12 08:57] hgouveia opened #30 "Implement Typescript definition"
Based on the effort already made on https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node-downloader-helper/index.d.ts

This would need to be placed probably inside `./types/index.d.ts` and defined inside the `package.json` as `"types": "./types/index.d.ts",`

Hello @RemyJeancolas I noticed that you did the definition in DefinitelyTyped, I would like to request if you could con

[2020-05-13 23:34] eric8810 commented on #23
Timeout perfectly solve my problem.
Thanks dude. LOL

[2020-05-14 07:02] hgouveia commented on #23
I am glad you could fix it with this! , closing this, thanks!

[2020-05-14 07:02] #23 closed

[2020-05-20 01:44] davidchalifoux commented on #22
Looking forward to this being on the main branch. I'm using this in a CLI tool and I am calling `.stop()` when the process is killed, but the file is not being deleted.

[2020-05-20 01:54] davidchalifoux opened #31 "Skip not working for already downloaded file"
[code]

I'm currently using this configuration to skip files that have already been downloaded. According the readme, this should work. However, it is still re-downloading the file. Am I using it wrong?

Note: It is overwriting the old file.

[2020-05-20 07:25] hgouveia commented on #31
Hello @davidchalifoux these changes are not published yet on npm, probably that might be the issue, but you could try installing directly using the github master branch and verify?

`npm i -S hgouveia/node-downloader-helper#master`

if the problem persists, please let me know, and I will look into this

[2020-05-20 07:45] hgouveia commented on #22
Hello @davidchalifoux , this feature was already published on 1.0.12 , where you have two new options `removeOnStop` and `removeOnFail` both set as `true` by default, but keep in mind that `stop` returns a promise,  so you will need to wait until finishes to close, could you do something like this

[code]

[2020-05-20 21:10] davidchalifoux commented on #31
I installed directly from the master branch like you suggested and that fixed it for me.
Thanks for the help, this is a really nice tool!

[2020-05-20 21:10] #31 closed

[2020-05-20 21:18] davidchalifoux commented on #22
This worked, thanks again!
Totally forgot to try that.

[2020-05-25 12:33] hgouveia commented on #31
Hello @davidchalifoux , i just released 1.0.13 so now you can use the official package from NPM

Thanks for you patience !

[2020-06-02 17:08] daniloprates commented on #13
I just can't make it work. The resumed download starts to run indefinitely, even after the progress reaches 100%.

[2020-06-02 17:20] hgouveia commented on #13
Hi @daniloprates could you try using an older version? there were some changes in `1.0.13` so I am wondering if affected this, you could try by install `npm i node-downloader-helper@1.0.12`, if so i would need to take a look, could be a bug

[2020-06-02 19:14] daniloprates commented on #13
with `1.0.12` I couldn't make it work at all 😬

[2020-06-02 19:21] hgouveia commented on #13
this is actually good news, it means I didn't break anything in 1.0.13, so could you paste the code you are using, I assume you want to resume the download using a pre-existing file, correct?

[2020-06-02 19:29] daniloprates commented on #13
Great, then :) here's the code: https://github.com/input-output-hk/daedalus/pull/2020/files#diff-48bed83004c5267825882df791304e66R36-R96

[2020-06-02 20:10] hgouveia commented on #13
Ok! I figure out why it wasn't working, basically, the example you were using is old, and some functionalities ware removed , for example recalculate the downloaded size, this because if you are using pipe for compress the file while downloading, the sizes wont match, so i removed it,

so in a nutshell, you need to recalculate it, here is an example i just did to try this out

[code]

[2020-06-03 16:07] daniloprates commented on #13
@hgouveia it works 🎉 thanks so much for your support!

[2020-08-26 09:47] Chaphasilor commented on #27
Hey @hgouveia it's me again :D
Any progress on the issue?

[2020-08-26 09:53] Chaphasilor opened #32 "Ignore invalid https certificates?"
Today I received the following error while trying to download a file:

[code]

It seems like there's an issue with the ssl certificate, but when I visit the website the browser says the cert is valid.
I also tried downloading the files with `iDownload Manager` from the Microsoft Store, no issues there.

Any ideas on what could cause this and how to work around it? I'd be happy if there was a way t

[2020-08-26 09:58] hgouveia commented on #27
hey @Chaphasilor, to be honest, I didn't check it yet, I will try during next week, sorry about that, I will let you know

[2020-08-26 09:58] Chaphasilor commented on #32
To recreate:

[code]

[2020-08-26 10:02] Chaphasilor commented on #27
@hgouveia hey no worries, just wanted to check, I had almost 0 problems with this in the last couple months, but it probably should be fixed at some point. If you point me in the right direction I might be able to help you with the fix as well, should have some more time in one or two weeks as well! :D

[2020-08-26 10:11] hgouveia commented on #32
I'am no even sure what is causing this, probably node version? probably the website is using some cipher not supported with you current node version

this library is using raw native http/http request call, and you are able to send options to the request,
so you could use `rejectUnauthorized: false` option in the `httpsRequestOptions`  to see if able to bypass this ex:

[code]

you can see what `h

[2020-08-26 11:28] Chaphasilor commented on #32
Alright, I'll try using a different node version or passing different https options.

I've looked at the node documentation already as explained in the readme, but I find it to be a bit unwieldy most of the time :/

I'll let you know how it goes :)

[2020-08-26 12:21] hgouveia commented on #27
@Chaphasilor so basically, i have a function that gets the filename based on this HTTP header `content-disposition`, but if not available, it will get it from the URL, so because i am using `path.basename` probably is ignoring the extension, I would need to check this,  https://github.com/hgouveia/node-downloader-helper/blob/master/src/index.js#L595

in theory, is an easy fix

[2020-08-26 13:03] Chaphasilor commented on #32
@hgouveia this did the trick! thanks for your help :)

[2020-08-26 13:03] #32 closed

[2020-10-23 09:41] Nashorn commented on #27
@hgouveia - how positive are you about getting the file name from **'content-disposition'**? Will this work 100% of the time? If so why not rely on it completely? I've seen URLs that have no ext, or the content/mime types are not correct, for example, trying to download a font from a URL, no ext, mimeType is **'application/octet-stream'**

[2020-10-23 12:04] Chaphasilor commented on #27
@Nashorn the `content-disposition` header is not always present, especially if a link isn't normally meant for downloading (like a webpage). There is also the possibility to set the header just to `attachment` but without providing a filename, which I've also seen used before.

We should probably try to use the mime type to determine a valid extension, and if that doesn't work simply skip the exte

[2020-10-26 09:18] hgouveia commented on #27
@Nashorn as @Chaphasilor stated, the issues is that **content-disposition** is not always available so we can't rely only on that,

Trying to determine the mime-type from **content-type** to give a valid extension is a good suggestion but this will make this project to use a third-party library for ex: [mime-types](https://www.npmjs.com/package/mime-types) that I want to avoid, or have a list with

[2020-10-26 09:26] Chaphasilor commented on #27
@hgouveia And what if you export an additional method that tries to determine the extension? If that fails, we could (in our respective projects) require the user to also input an extension, or warn them that the resulting file won't have one.
You don't have to handle every case :)

[2020-10-26 09:42] hgouveia commented on #27
well in theory that is the aim of the callback that can be provided to the `filename` option, if you provided that, it won't try to determine the filename, I will use the string returned by this callback, this is string should include also the ext, `myfile.html`,  but could be a nice addition to at least emitting an event when it fail , I can imagine something like

[code]

[2020-10-26 11:29] Chaphasilor commented on #27
@hgouveia I'm actually thinking of something more flexible. Something you can call *before* the download starts, so that it can be handled properly. If this is done via a callback once the download starts, it severly limits how it can be handled...

What do you think?

[2020-10-31 12:43] AhmedbGayess opened #36 "Catch file deleted from computer error"
When I delete a file while it's still downloading, how do I catch the error so I can handle it? I don't get anything in on('error') and I have no clue where else it could come from

[2020-10-31 12:54] hgouveia commented on #36
@AhmedbGayess sadly there is no way for this since the lib will recreate the file and append the latest byte chunk it had if am not wrong,  i am surprised this can be done since the file should be lock by the filestream

if you are not using any pipe for compress or something, you could check the filesize in the progress event and compare with the downloaded size, if doesn't match, probably was re

[2020-10-31 13:17] AhmedbGayess commented on #36
Thanks for responding so quick! I guess I'll use something like node-watch to monitor any changes

[2020-11-02 13:17] hgouveia commented on #36
yeap that could be a good solution!
Thanks

[2020-11-02 13:17] #36 closed

[2020-11-09 09:02] leohubert opened #37 "Implement file integrity check"
Hi !
It would be great to check the file integrity after download, if checksum was not correct `retry`.

I implemented this feature on my project and when i have a time i create a PR to add this feature here ?
https://github.com/emodyz/NodeDownloader

Is it ok for you @hgouveia ?

[2020-11-09 09:14] hgouveia commented on #37
Hello, @leohubert I think this is a very good utility but not sure if the downloader should cover it since this is a separate task that happens after the file is downloaded and not a downloader responsibility.

I don't want to add more complexity if not necessary, I actually do the same in a project where I use this lib, but I do this process separately, also because the integrity check could be a

[2020-11-09 10:56] leohubert commented on #37
No problems :)

So you can close this issue :D

[2020-11-09 10:57] #37 closed

[2020-12-15 20:42] geopic commented on #30
Hello, I write type definition files for NPM libraries regularly. Is it ok if I work on this? @RemyJeancolas

[2020-12-15 22:16] ls-remy-jeancolas commented on #30
Hi @geopic 👋

TBH I completely forgot about this, so you are more than welcome to work on it :)

[2020-12-16 16:34] hgouveia commented on #30
@geopic you are welcome to contribute! , thanks @ls-remy-jeancolas for you input!

[2020-12-17 15:36] geopic commented on #30
Excellent, I'll have it sorted tomorrow :+1:

[2021-01-24 01:20] Chaphasilor opened #39 "CLI mode doesn't work since v1.0.14"
To recreate:

1. Use Node 14
2. Install `node-downloader-helper` > 1.0.13 (`npm i node-downloader-helper -g`)
3. Run `ndh . <any url>`
4. Get the following error message:

[code]

Installing `node-downloader-helper@1.0.13` fixed the issue.

[2021-01-26 09:36] hgouveia commented on #30
Added by @geopic  in PR #38 , thanks!

[2021-01-26 09:36] #30 closed

[2021-01-26 17:10] hgouveia commented on #39
@Chaphasilor should be fixed now published in 1.0.16

[2021-01-26 17:17] Chaphasilor commented on #39
@hgouveia hate to break it to you, but it isn't :/

![image](https://user-images.githubusercontent.com/18015147/105879646-b81c5e00-6002-11eb-8470-15c91baee810.png)

[2021-01-26 17:18] hgouveia commented on #39
yeap sorry i was about to write about this, for some mistake on my github actions, the package was published incomplete, i will republish as 1.0.17 and let you know

[2021-01-26 17:39] hgouveia commented on #39
@Chaphasilor hopefully should be fine now

[2021-01-26 17:39] #39 closed

[2021-01-26 19:09] Chaphasilor commented on #39
Yep. All working now :D

Thanks for the fix!

[2021-01-30 10:36] Chaphasilor commented on #21
Just my two cents:
Instead of a mirror URL list, I'd prefer if there was a way to *test* the current URL before resuming to check if it's still valid. If it is, we can call `resume()` safely, if it isn't, we can resolve the URL again (because providing a list of expiring URLs at the start won't help).

So the behavior I'm proposing:

- `dl.checkResumable()` returns a promise resolving or rejecting

[2021-02-03 19:31] Chaphasilor commented on #27
@hgouveia I took another look at this. It is possible to use the `getTotalSize()` function in order to get the automatically determined filename before the download is started, so your proposed change (exposing the mime-type) seems reasonable.

I'll supply you with a PR in the coming days that fixes the bug with files ending in a dot, and exposes the mime-type to the callback function.

[2021-02-04 17:06] Chaphasilor opened #40 "Downloads "freezing" for no obvious reason?"
I've now experienced multiple times that while downloading a file, once in a while a download will just *freeze* and not continue to download. It doesn't fail, throws no error, doesn't change state, it just stops downloading. The `dl` object either stops emitting `progress` events or always reports the same stat, `downloaded`, `progress`, `speed` all stay the same.
In my application I have 5 downl

[2021-02-04 17:31] hgouveia commented on #40
hello @Chaphasilor  i need to check this out when i have the time but out of my head it seems this happened before but i cant remember the issue, i think was related with macOS , are you having this issue in macOS? what i could suggest for now is try to increase the timeout, there is an entry for this on the options

[2021-02-04 20:45] Chaphasilor commented on #40
I'm having the issue both on Windows 10 (x64) and Linux (Debian 10, arm64). So it doesn't really seem to be platform-dependent...

I'll try and see if the timeout helps, but as I said I can't force this issue to appear, so it might take some time until I can definitely say if it helped.
Would be nice if you could take a look at your code and think about if there's any way this might happen in the

[2021-02-05 17:17] Chaphasilor commented on #40
A few insights:

- It seems like downloads are more likely to freeze if the server is slow. ~200kB/s freezes rarely, ~40kB/s freezes constantly
- I've tried setting the timeout, started with 30s, then 45, then 90s, it had no effect at all. Downloads would still freeze just as often.
- I also managed to replicate the issue in CLI mode, at least I think so:
  ![Screenshot](https://user-images.github

[2021-02-05 17:25] hgouveia commented on #40
Hello @Chaphasilor ! this is definitely something i need to take a look, right now i am not in front of the PC but in the meantime, please checkout all the Issues we have here even the closed ones, because i really remember some case really similar if not, take a look inside the gitter chat, https://gitter.im/node-downloader-helper/Lobby , probably was discussed already there

anyways i will try m

[2021-02-05 18:34] Chaphasilor commented on #10
Hey @Wetbikeboy2500 would you mind explaining how you do this over in #27? :)

[2021-02-05 19:07] Chaphasilor commented on #40
Hey @hgouveia, I checked the other issues before opening this issue but I still read every single one of them again, there is no similar issue here. There is #23, which is related to MacOS, but that issue is about network disconnects and retrying/auto-resuming.
I also read through the whole Gitter chat history and the closest I could find was about throttling download speeds.
So it seems like this

[2021-02-05 19:49] Wetbikeboy2500 commented on #27
It has been a bit, but I can explain it. I really did not do anything groundbreaking. The first step is to isolate the file name. I then checked to see if there was a dot within its name and them did a substring from the end of the filename to the dot.

This issue has a few more things to consider though. When you request a website like google.com by `https://google.com` the browser will actually

[2021-02-06 14:34] Chaphasilor commented on #40
Here's the code I've used for testing:

[code]

After a few tries I've managed to get a frozen download with only a single download instance running. However, it does seem like starting multiple instances makes freezing more likely.

[2021-02-06 20:45] hgouveia commented on #40
Hello @Chaphasilor thanks for the code for testing, I was checking it and tried multiple times like 20 attempt but was fine, as you mentioned you had tried in Windows and Linux, doesnt seems to be the OS but I am wondering if could be hardware or ISP related,  do you have a chance to test this in a different compite and network?

Anyways I will keep investigate into this

[2021-02-06 22:37] Chaphasilor commented on #40
@hgouveia yeah I could try to recreate this with a different setup.

What URL did you test it with? What speeds were you getting?

[2021-02-06 23:22] Chaphasilor commented on #27
Okay, thanks a lot for your insights. I was hoping there was more to it so that this somehow could be made more reliable, but it seems like there just aren't that many possibilities of determining the file extension ://

[2021-02-08 15:44] Chaphasilor commented on #40
I've been able to recreate the issue with my work's WiFi. So it doesn't seem to be a network issue. I'll try to test it with as many devices as I can.

Here are some more screenshots:

Download 1/3 (all in parallel, using the code above and `https://dl1.zoopix.ir/Series/Rick%20And%20Morty/season1/480/Rick.and.Morty.S01E01.480p.BRrip.mkv` as the URL.
The download is still running at 16:27
<img widt

[2021-02-08 15:45] Chaphasilor commented on #40
@hgouveia if you want I could provide you with some log files, maybe that helps...
I could also add additional logging if you want me to?

[2021-02-11 11:32] D-cat1 opened #42 "how to cancel one file download when doing multiple downloads"
how to cancel one file download when doing multiple downloads

how to do this ?

[2021-02-11 11:47] hgouveia commented on #42
@D-cat1 by default there is not way to do multiple download, so you will need to store each instance of each download and then cancel all one by one ex:

[code]

[2021-02-11 11:55] hgouveia commented on #40
hello @Chaphasilor with this is enough, for now i was able to kind of of reproduce the issue,  i did not have this freezing, but i did have disconnection after a while but sadly is not something i could control, is just the Socket drops the connection, due connection reset from the server or similar stuff, so in that case, the only possibility is use the Retry functionality that i believe you alre

[2021-02-11 12:01] #42 closed

[2021-02-11 21:03] Chaphasilor commented on #40
@hgouveia yeah, but shouldn't there at least be an error event?

Sure, I could try that. If you want to provide some code, go ahead, but I also have some testing code that I could use instead...

[2021-02-12 14:02] hgouveia commented on #40
for my experience is just close the connection without any message, in fact that was one of the reason i then added the total size and downloaded size into the **"end"** event, so users could check that and **retry** until finishes

here i prepared a plain https request using nodejs, you could try with this, and see if the issue persist, i also added all possible event, probably one of them could

[2021-02-13 16:58] Chaphasilor commented on #40
Okay, tested once more and it's really difficult to consistently reproduce the issue...

But I did observe that with the vanilla `http` implementation is can happen, that the `timeout` event is emitted and then...nothing. No other event ever follows, download doesn't continue, pipe/stream doesn't close, program doesn't quit.

So maybe it would be a good idea to add some additional handling for the

[2021-02-13 17:28] hgouveia commented on #40
yeap that was the whole idea of the retry event in the first place, but the native **timeout** event is not consistent either,  sometimes it just timed out and the download doesn't stop and just freeze, and sometimes even continue like nothing happened

the question now is, should the library handle this situation and just force it stop when timed out and if retry if available, or the user should

[2021-02-13 17:31] Chaphasilor commented on #40
Yeah, given that this is a *downloader* and not some http client, edge cases like this should be handled automatically to make it more robust.
We could consider a timeout that results in a "freeze" as a fail and use up one of the retries (if there are any).

[2021-03-10 11:34] semdy opened #44 "The file cannot use until exit the node process when downloading paused and resume."
env:
  chrome: "87.0.4280.141"
  electron: "11.3.0"
  node: "12.18.3"

The downloaded file is occupied by node or electron when downloading is paused and resume. Accessed when exit electron.

[2021-03-10 12:30] semdy opened #45 "Keep the promise from the start when downloading paused and resume."
Add a option to allow keep the promise from the start when downloading paused and resume.

[2021-03-10 14:20] Chaphasilor commented on #45
@semdy you mean that the promise from `dh.start()` doesn't resolve/reject until the download is completely finished?

[2021-03-11 03:41] semdy commented on #45
@Chaphasilor yeah!

[2021-03-11 08:14] hgouveia commented on #45
Hello @Chaphasilor @semdy  , this is like this by design, the start will resolve when i finishes or failed, pause/resume means the download is still in process just paused, i dont know why it should be resolved when paused, if you can explain you case to better understand

if you need to achieved this, you could you create your own promise by using the events

[2021-03-11 08:27] Chaphasilor commented on #45
@hgouveia I believe what @semdy is talking about is that in his case the promise *does* resolve on pause, but he wants it to only resolve if the download is finished, which is exactly what you described how it *should* be.

So I believe this is a bug?

Can you confirm @semdy, does your promise *resolve* on pause, or does it not?

[2021-03-11 08:30] semdy commented on #45
@Chaphasilor resolve on pause, but i hope it does not.

[2021-03-11 08:33] Chaphasilor commented on #45
great, I thought so.

Could please share the a code example? :)

[2021-03-11 08:47] semdy commented on #45
`
function execQueuePromise(promises) {
  return new Promise((resolve, reject) => {
    ;(async () => {
      try {
        for (let i = 0; i < promises.length; i++) {
          await promises[i]()
        }
        resolve()
      } catch (e) {
        reject(e)
      }
    })()
  })
}

async function downloadFile(fileUrl, savePath) {
  const dh = new DownloaderHelper(fileUrl, savePath)
  return

[2021-03-11 08:56] hgouveia commented on #45
got it now , thanks @Chaphasilor  and @semdy ,  yes this should not resolve on pause, i will check this

[2021-03-11 09:02] semdy commented on #45
@hgouveia would you take a look at this issue #44

[2021-03-11 09:11] hgouveia commented on #45
yeap i will check both as soon i have the time, but i can promise a day, they are also little bit related, so dont worry i will check both

[2021-03-11 09:13] hgouveia commented on #22
closing this, fixed on `1.0.12`

[2021-03-11 09:13] #22 closed

[2021-03-11 11:48] semdy commented on #45
@hgouveia It will pretty good if progress throttle time can be customed through options.

[2021-03-11 14:25] hgouveia commented on #45
you could achieve this using the `progress` one , since will be emitted as soon the data comes, so you can do there your own logic, like update the progress every 1 sec or as you wish

[2021-03-16 07:29] semdy commented on #44
The fileStream should be closed when downlading paused.

[2021-03-30 22:05] nancysavchenkoo opened #46 "added a background download feature"
Can you please add a download feature in the background, so when we switch our browser, the download process will still run on our vps server, it might sound like a cron job.

[2021-03-31 07:13] hgouveia commented on #46
hello @nancysavchenkoo this is a functionality is completely possible and not related with the library at all,  you might need to do it in your client, if you are using a framework like angular, vue, react, you could add this logic in a service or store like Vuex/Redux, and it will keep between routes, if you are using electron you can use the ipc message , or if for some reason you have an app wh

[2021-03-31 07:13] #46 closed

[2021-04-05 09:14] gklasen opened #47 "Bandwidth-problem on bigger videos?"
Hey there, first of all thank for for this nice plugin. I have it installed within an node.js Electron application.

I have the problem, that if i am trying to download bigger videos (like >20 MB maybe?) the plugin starts nicely, but very quickly, performance drops down. I just measured the MB/s for the first 6 seconds:

![image](https://user-images.githubusercontent.com/17546555/113558287-aad1b00

[2021-04-05 09:25] hgouveia commented on #47
Hello @gklasen , sadly i don´t think this is a issue is related with the library itself and is related with nodejs itself, but i actually use this lib myself in electron and download big files around 6gb be steady speeds

i would suggest to try to use it with plain nodejs without electron and see if you have different results, if so, probably you might need to change electron version or see if the

[2021-04-05 16:24] Chaphasilor commented on #47
@gklasen this is a common phenomenon and AFAIK it has to do with the server you're downloading from. Maybe try it with a different download server and see if that helps? :)

[2021-04-05 17:58] gklasen commented on #47
Thanks both of you for reply.

@hgouveia i just tried out the attempt with the "Agent", but did not work out (smaller improvements indeed, but not regarding starting very quickly and then slowing down that much)

I am not trying out with some electron-versions. Can you tell which one you have installed and have no problems with?

@Chaphasilor heard that as well, but still wondering why 1) i am abl

[2021-04-05 18:08] hgouveia commented on #47
hello @gklasen, for the project i am working on is using Electron 7.3.3

[2021-04-05 18:11] gklasen commented on #47
okay, thanks for your support so far.

[2021-04-05 18:11] #47 closed

[2021-04-05 20:52] gklasen commented on #47
@hgouveia  Just as last info, was able to resolve and speed it up big time. I switched to "remote.net.request(fileURL)" from Electron. I can imagine this would effect this plugin i a good way to use this as underlying implementation in those cases. If more info is needed, feel free to reach out.

[2021-04-08 22:40] SushyDev opened #50 "Custom throttle timeout"
The current throttle time is 1000ms, it would be great if we could configure that to be *ms in the downloader options since 1 second might be long for some usecases

[2021-04-09 07:10] hgouveia commented on #50
Hello @SushyDev , you could use the normal `on('progress'` event , this will be triggered as soon it recieved data, and then you can control manually based on your own custom time

but since this have been requested before, i will add an option to change the throttle ms

[2021-04-09 14:18] hgouveia commented on #44
Closing, fixed in new version `1.0.18`
https://github.com/hgouveia/node-downloader-helper/releases/tag/v1.0.18

[2021-04-09 14:18] #44 closed

[2021-04-09 14:18] hgouveia commented on #45
Closing, fixed in new version `1.0.18`
https://github.com/hgouveia/node-downloader-helper/releases/tag/v1.0.18

[2021-04-09 14:18] #45 closed

[2021-04-09 14:18] hgouveia commented on #50
Closing, fixed in new version `1.0.18`
https://github.com/hgouveia/node-downloader-helper/releases/tag/v1.0.18

[2021-04-09 14:18] #50 closed

[2021-04-09 14:19] hgouveia commented on #27
Closing, fixed in new version `1.0.18`, thanks to  @Chaphasilor
https://github.com/hgouveia/node-downloader-helper/releases/tag/v1.0.18

[2021-04-09 14:19] #27 closed

[2021-04-10 16:04] Chaphasilor commented on #27
Great! 🦾

[2021-04-10 16:06] Chaphasilor commented on #40
@hgouveia any thoughts on my comment?
I'd really like to solve this issue :)

[2021-04-10 16:39] hgouveia commented on #40
@Chaphasilor I actually missed this in the  newer version I just release and is something I wanted to add, I just forgot it hehe, so i will implement this behavior this upcoming week and release new version

Basically if the timout event is triggered from the request, I will stop the download, if retry option is enable it will retry, if not just stop and emit timeout

What you think?

[2021-04-11 16:42] Chaphasilor commented on #40
@hgouveia sounds good! I suggest the specific events would be:

- If `retry` is **disabled** (or no retries are left): emit `timeout` and `end`
- If `retry` is **enabled** and there are retries left: emit `timeout` and `retry`

I don't recommend emitting `stop`, because if the documentation it says:

[2021-04-13 22:43] dae54 commented on #40
I face almost the same issue, but for my case, the package tends to freeze on issue download (doesn't respond immediately to ```dl.start()```). Sometimes it takes up to 20 seconds to start downloading. I tried pausing and resuming by issuing
[code]
Sometimes it works correctly, the other times, it downloads the same file twice, in parallel ;( ...
P.S I use electronjs latest version, if that may ma

[2021-04-14 09:05] Chaphasilor commented on #40
@dae54 could it be that the server is slow to respond in your case? It also takes a few seconds to connect for me sometimes, although usually it's faster and I'm not sure if it ever took 20 seconds...

[2021-04-20 06:06] dae54 commented on #40
@Chaphasilor sometimes it used to freeze forever... the behaviour was random... i found a temporary fix by specifying ```retry``` option. The problem that i currently face is that sometimes two simultaneous downloads happen. I think its just my bad logics,

[2021-04-20 07:08] hgouveia commented on #40
hello @dae54 , i think this issue is related with how much time take your server to respond ratter than the lib itself,

something you could do, is create an Agent , and reused it in all your DownloadHelper instances, in case your are using the same domain, this will avoid to do the handshake for every request,

[code]

for more documentation https://nodejs.org/api/https.html#https_class_https_age

[2021-05-06 07:07] SrBrahma opened #52 "The best package out there!"
Hey! I've spent hours trying **got**, **axios**, **download** and some others. This one is the best package to download a file, quick and simple. Thanks for it!

[2021-05-06 14:31] umerkk opened #53 "Not respecting `RemoveOnStop` config flag."
Sporadically the library goes into a state where `Stopping` the download would trigger the `Remove` action on the Downloaded file even if the library is instantiated with the `RemoveOnStop: false` flag.

# Here is my instantiation code
[code]

# Logs
[code]

[2021-05-06 15:12] hgouveia commented on #53
Hello @umerkk , i was checking this issue but i can't find the reason, i was wondering if the destination folder is a temp folder or something that is cleaned automatically? could you try a different folder?

also could you verify the folder and check if the file is there? i was thinking could be a permission issue too

i will keep checking it

[2021-05-06 15:13] hgouveia commented on #52
Hello @SrBrahma  , i am really happy you like it!, also thanks for you pull request, i will merged it as soon i have the time is a great contribution!

[2021-05-06 15:45] umerkk commented on #53
Hi @hgouveia
The problem exists at any arbitrary location, I tried OS temp, User Download, and other folders.
It happens sporadically, so the permission doesn't seem to be an issue since it is successfully downloading there most of the time.

Although to reproduce, you may want to pause/resume a download multiple times. Also, try to disable the internet, then let the download fail, retry multiple

[2021-05-17 06:33] Inchill opened #55 "When I download a template project from github, it is not the same as what I expect?"
I used the node-download-helper in my cli to download a vue template project, actually I got a big file, it's not a directory, I am  confused about this issue, can u give me some solutions?

[2021-05-17 06:40] hgouveia commented on #55
Hello, @Inchill could you clarify a bit? like how you construct the **DownloadHelper** object? which options? , the **DownloaderHelper** doesn't download folders, just files, so i am a bit confuse

[2021-05-17 06:45] Inchill commented on #55
@hgouveia I seem to understand that it doesn't support downloading folders, only individual files, is that right?

[2021-05-17 07:26] hgouveia commented on #55
yep you are correct, it only download individual files, if you want to download a entire folder, you will need to get the list of the files from you part and download one by one or if you are the owner of the backend, you can just provided that as a zip files and download the zip file and use the pipe functionality to unzipped them

[2021-05-17 09:15] #55 closed

[2021-05-22 14:48] Envek opened #57 "Error event is emitted before every try even if download finished successfully"
Hey, thank you for this package, it helps.

However, I found some confusing behavior that I believe is a bug. `error` event is emitted after every unsuccessful try even if download was successful.

In my understanding of [EventEmitter errors](https://nodejs.org/api/events.html#events_error_events), `error` event is (usually) a fatal one: it can't be recovered and you need to restart everything fro

[2021-05-22 15:13] Chaphasilor commented on #57
Hey, as far as I understand it the `error` event doesn't have to be a fatal, non-recoverable error.
However, if you want to catch fatal errors, do it by catching the promise of the `dl.start()` method!

[code]

Hope this helps :)

[2021-05-26 14:28] Envek commented on #57
No, `error` events by default are fatal, see [Events: Error events](https://nodejs.org/api/events.html#events_error_events) in the Node.js docs:

So, if I run following command:
[code]

**Expected result:**

3 retries are performed, custom error is thrown:
[code]

**Actual result**:

No retries performed, original error is thrown:

[code]

**Workaround:**

Always add some dummy error handler:

[co

[2021-05-27 20:19] TAINCER opened #58 "Filename unexpectedly changed after download"
When downloading a file with a dot prefix the actual file that is saved doesn't include the dot. Is there a way to disable this behavior? For my case, I need 1:1 the file names from the server on the local Disc.

Demo Code:
[code]

[2021-05-27 22:41] Chaphasilor commented on #58
I think this happens since #27

Looking at my code it will probably not only filter out trailing dots, but also leading dots.

Since leading dots are very common, I'll come up with a fix for my fix :P

And we could also consider adding an option to force saving it with the original filename, what do you think @hgouveia?

[2021-05-28 07:29] hgouveia commented on #58
Hey @TAINCER , it seems @Chaphasilor  will take care of this, in the meantime i suggest you use the filename callback, so you can control the naming

[code]

@Chaphasilor please go ahead

[2021-06-09 08:14] Kuzzy opened #60 "Download has incomplete status if 'content-length' is not present"
If for some reasons target server will not return 'content-length' header for downloaded file, download info object will always have `incomplete: true` property, while file will be downloaded and written to filesystem. (https://github.com/hgouveia/node-downloader-helper/blob/master/src/index.js#L514)

How to reproduce:

[code]

I think, that this behavior is wrong. 'content-length'  header check s

[2021-06-09 09:20] hgouveia commented on #60
@Kuzzy agree, i will check this , i need to think a way of how to handle this scenarios properly,  on top of my head i can think of set `totalSize` as -1 value, when failed to fetch the `content-length` , and set `incomplete` to false, since this can't be determined

[2021-08-14 20:50] DucksDont opened #61 "Crashing instead of catching errors."
Hello, When I attempt to download a file that doesn't exist I get the error ```Error: Response status was 404 \n  at ClientRequest.<anonymous>``` and then the project crashes.
I have the dl.on("error",) code. But it doesn't seem to be doing anything.
[code]
I'm not sure if I'm doing something wrong.

[2021-08-15 09:09] hgouveia commented on #61
@DucksDont this sounds like a bug, i will check it this week, thanks for the report

[2021-08-19 12:54] #52 closed

[2021-08-19 14:48] hgouveia commented on #40
Hello @Chaphasilor  , i just added a fix for this,  i wonder if you could try it by install it like this ` npm install --save hgouveia/node-downloader-helper#dev` , since for me is hard to repro

[2021-08-19 14:49] hgouveia commented on #57
Hello @Envek , i just added a fix for this,  i wonder if you could try it by install it like this ` npm install --save hgouveia/node-downloader-helper#dev` , and check if works as expected now before merge with master, thanks!

[2021-08-19 14:49] Chaphasilor commented on #40
Hey! Sure, I'll try it out right away, but it's hard for me to reproduce too :)
I'll try my best!

What did you change? 🤔

[2021-08-19 14:54] hgouveia commented on #61
Hello @DucksDont , i just added a fix for another task but that might fixed this too  i wonder if you could try it by install it like this ` npm install --save hgouveia/node-downloader-helper#dev` , and let me know if works properly so before i merge to master, also keep in mind the  `dl.start()` return a promise, so i also suggest to add `dl.start().catch( err => {} );`

[2021-08-19 14:59] hgouveia commented on #40
Now the behavior is that if i detect a `timeout` it will abort the request and `retry`  if available, if not, it will fail

[2021-08-19 17:11] Chaphasilor commented on #40
@hgouveia I can't really recreate the issue anymore. Maybe it got fixed by https://github.com/nodejs/node/pull/38665, maybe it's a server-side issue, or maybe you fixed it. I haven't had the problem in a while, and the new release doesn't seem to break anything...

I'll close the issue now; if anything like this happens again we can either re-open it or someone will create a new issue :)

Also a h

[2021-08-19 17:11] #40 closed

[2021-08-19 21:05] Chaphasilor opened #62 "dl.pause() and dl.stop() not working properly on Node 16"
When using the package with Node 16, calling `dl.pause()` or `dl.stop()` will result in the http response emitting an `error` event, which in turn causes `dl` to emit an `error` event as well. With `dl.stop()` this isn't a big deal (although still unexpected), but with `dl.pause()` this results in a retry, which means that after waiting for `retry.delay`, the download will be resumed instead of st

[2021-08-19 22:01] DucksDont commented on #61
When I install the module and run my project I get the error ```Error: Cannot find module '/home/ducksdont/Documents/Code/downloader/node_modules/node-downloader-helper/dist/index.js'. Please verify that the package.json has a valid "main" entry```.

[2021-08-19 23:29] Chaphasilor commented on #61
Yeah, the command doesn't really work...

You need to clone the repo (`git clone https://github.com/hgouveia/node-downloader-helper`) into your `node_modules` folder, and then inside checkout the `dev` branch, run `npm i` and finally `npm run build`. Then it should work :)

[2021-08-20 00:51] DucksDont commented on #61
After installing the dev branch my project is still crashing. It also still crashes when I put ```dl.start().catch((err) => {});```

[2021-08-20 03:20] Envek commented on #57
Now it performs 3 retries as expected, but then it emits `error` event 4 times (looks like one for every retry and then one “final”), while I would expect only one error emit after all retries.

Now it works almost as expected, thank you!

<details>
<summary>Here is runnable example and its output</summary>

You can paste it right into bash or zsh shell:

[code]

Output:
[code]
</details>

[2021-08-20 07:15] Chaphasilor commented on #61
Still with the "Cannot find Module" error?

[2021-08-20 10:31] DucksDont commented on #61
No, It's crashing with the original error.

[2021-08-20 11:25] hgouveia commented on #61
@DucksDont is the `error` event working now for you?, is the `catch` also showing something?,  could you provide more information, like node version, if you are using electron, which specific version, etc,  probably a snippet of the code how are you using it,  for me i dont see any reason for making your app to crash

[2021-08-20 11:28] hgouveia commented on #62
@Chaphasilor thanks for you very deep inside of this!, do not worry i will take care because sadly this cant just be replaced, since this needs to be compatible with older node version as well to not break compatibility for the apps already dependent

[2021-08-20 11:53] Chaphasilor commented on #57
Seems to happen because of [this change](https://github.com/hgouveia/node-downloader-helper/commit/e8c00d8eb6b1a5e934dd604d0a5fcf4d4ddc94f6#diff-bfe9874d239014961b1ae4e89875a6155667db834a410aaaa2ebe3cf89820556R568)

My guess is the `.catch()` handler is chained multiple times and after the last retry fails, all (3) catch handlers are invoked, emitting the error event three times...

[2021-08-20 11:56] Chaphasilor commented on #60
How about setting `totalSize` to `null`? The total size is "undefined" in this case, and `null` is the explicit version of `undefined` :)

[2021-08-20 12:08] Chaphasilor commented on #62
Just a heads-up that `request.abort()` has been deprecated since Node 14 and will likely be completely removed in Node 17 or 18...

Releasing a new major version on npm also wouldn't break any old projects using the library, and you could discontinue support for Node <14 at some point ([maybe when  Node 12 reaches end-of-life, which is on 2022-04-30)(https://nodejs.org/en/about/releases/)).

Anywa

[2021-08-20 14:56] hgouveia commented on #62
hello @Chaphasilor  i just did a fix not related, but it seems also fixed this, could you check? i've checked pause/resume with node 16 and didnt emitted the error,  i will do the fixes you suggested anyways, but i am curious

[2021-08-20 14:56] hgouveia commented on #57
Hello @Envek  i just did a new fix, could you try once again?

[2021-08-20 14:57] hgouveia commented on #61
Hello @DucksDont i just did a new fix, could you try once again?

[2021-08-20 16:37] Chaphasilor commented on #62
[code]

I pulled your latest commits (especially 9d1bd9ceb9a259e1a798f4b2c7fc9d2f1e147ec6) from the dev branch, but I'm still getting the errors and the download still fails after consuming all the retries. Not happening with Node 14.

[2021-08-20 16:46] hgouveia commented on #62
@Chaphasilor cool thanks, it seems it behaves differently in linux, i will check again on monday

[2021-08-20 20:03] DucksDont commented on #61
It's still crashing. I'm running node v16.7.0. I am running an express server that accepts post requests and will download the file from the URL provided in the post request.

I tried testing node-download-help in a new project and I get a different error.
[code]
Here is my code:
[code]

[2021-08-20 20:14] Chaphasilor commented on #61
If you're using Node 16, this might be related to #62

[2021-08-22 00:56] Neyunse opened #63 "Save Download progress like mega.nz, steam etc"
I don't know if this would be easy to add, but it would be interesting if the download progress is stored if the browser or electron js is closed.

[2021-08-22 18:32] Chaphasilor commented on #63
This is a duplicate of #13 and could be fixed by #34 and #54 :)

[2021-08-23 04:22] Envek commented on #57
@hgouveia, now it emits error event only once. Thank you!

<details>
<summary>Output of the same runnable example on fresh dev branch</summary>

[code]
</details>

[2021-08-24 12:48] hgouveia commented on #62
@Chaphasilor i did the changes you suggested , hopefully will work now, could you try? thanks

[2021-08-24 12:51] hgouveia commented on #61
Hello @DucksDont  added new change, could you check once more?

1. clone this repo
2. checkout dev branch
3. npm install
4. npm run build
5. copy the "dist" folder into you "node_modules/node-downloader-helper"
6. test

[2021-08-24 14:17] DucksDont commented on #61
It's still crashing for me.
[code]
The catch on dl.start() catches one error but then it crashes.
[code]
 The crashing error:
[code]

[2021-08-24 14:18] Chaphasilor commented on #62
@hgouveia that seems to have done the trick, awesome! :D

please let me know once it hits npm :)

[2021-08-24 14:21] Chaphasilor commented on #61
@DucksDont could you provide us some files with both your client code (using `node-downloader-helper`) and your express server, so we can test it a bit better? :)

I'm still not totally sure what is going on 🤔

[2021-08-24 14:31] DucksDont commented on #61
Here is my testing project with the dev branch of the module installed. [https://i.horizon.pics/OUbfR6M03m](https://i.horizon.pics/OUbfR6M03m)

[2021-08-24 15:25] hgouveia commented on #61
@DucksDont i am really puzzle in here, i just checked in node 16.7.0 in both windows/linux (ubuntu focal), but i cant get this error
[code]
this is my output, that is expected
![image](https://user-images.githubusercontent.com/668866/130644603-03787f82-6de8-4cdd-973c-fb0d75c884ae.png)

are you using MacOS?

[2021-08-24 15:26] DucksDont commented on #61
I'm on Ubuntu 20.04

[2021-08-24 15:45] hgouveia commented on #61
@DucksDont added new attempt, lets see if this finally fixes it, could you try once again?

[2021-08-24 20:57] DucksDont commented on #61
Could you please send me the code you are using to test? Including the compiled node module.

[2021-08-25 00:15] Luury commented on #62
Update npm please, I had the same issue :/

[2021-08-26 04:05] Luury opened #64 "Error when calling pause or stop method"
When I call the `pause()` function using a download object, the following error occurs:

![image](https://user-images.githubusercontent.com/56207672/130898744-95bf5f1c-a592-42c7-8093-cf86dfe77049.png)

what is the correct way to call the function just passing the object?

[2021-10-03 16:40] Chaphasilor commented on #62
@hgouveia Any ETA on the next release? would be really great if this would finally hit npm :)

[2021-10-04 08:49] hgouveia commented on #62
hello @Chaphasilor , sorry the delay i will try to publishing today or tomorrow

[2021-10-04 09:30] hgouveia commented on #57
@Envek published to npm v1.0.19

[2021-10-04 09:30] #57 closed

[2021-10-04 09:31] hgouveia commented on #61
@DucksDont the code was just create a dowload helper object and download a file nothing special, i published to npm v1.0.19, let me know if working

[2021-10-04 09:31] #61 closed

[2021-10-04 09:32] hgouveia commented on #62
@Chaphasilor published to npm v1.0.19

[2021-10-04 10:35] aleksey-hoffman commented on #62
@hgouveia thank you for updating the module, I'm considering switching to it in my [file manager app](https://github.com/aleksey-hoffman/sigma-file-manager).

However, I found that pause / stop / resume is not working on Node 15 (It's working fine in Node 14 and 16):

### Code

[code]

### Error
[code]

[2021-10-04 10:47] hgouveia commented on #62
Hello @aleksey-hoffman , thanks for the report i will check this out as soon I can

[2021-10-08 19:41] thurasw opened #69 "progressThrottle missing from DownloadHelperOptions interface"
Has the option been removed or has the type definition not been updated?

[2021-10-08 22:24] Chaphasilor commented on #69
Ahh now I see what you mean. Yeah the option is new and the type definition is outdated. Feel free to make a PR! :D

[2021-12-03 13:40] Vijay-Gurav89 opened #71 "Node-downloader-helper package is not working in react app"
![20211203_190449](https://user-images.githubusercontent.com/95483631/144611545-f6ba03ba-600f-494c-b80a-9e96ab60c478.jpg)
Getting issue: "TypeError: fs.existsSync is not a function while using this package in react application. Please assist on this issue

[2021-12-03 15:19] hgouveia commented on #71
Hello @Vijay-Gurav89  , are you using this into a web page? since `fs.existsSync` is a **nodejs** only function, sadly this library can't be use on browser

[2021-12-05 00:20] Darkle commented on #61
Can this be added to the docs? I got bit by this yesterday and spent most of the day trying to debug it before I found this thread.

Thanks.

[2021-12-05 10:10] Vijay-Gurav89 commented on #71
Yes I am trying to use this package for web page. So can I use this package in web application?

[2021-12-05 10:22] hgouveia commented on #71
Unfortunally is not possible, this is for nodejs base applications only

[2021-12-15 10:42] AS-Omar opened #72 "Workaround for resuming downloads after app restart no longer working with v1.0.19"
I was using this workaround you posted for resuming downloads after restarting the Electron app: https://github.com/hgouveia/node-downloader-helper/issues/13#issuecomment-637779060

It was working fine with v1.0.18. However, after upgrading to v1.0.19, this workaround is no longer working and throws an error. Can the workaround be modified so that it works with v1.0.19?

[2021-12-15 17:01] Chaphasilor commented on #72
If you could share your code snippet, error message and Node version, I'd take a look at what's going on :)

[2021-12-15 17:52] AS-Omar commented on #72
Here's the code snippet (which works with v1.0.18):
[code]
When I call `downloader.resume()`, I get the this: `TypeError: Cannot read property 'resolve' of null`.

The Node.js version is 14.16.0 (which comes bundled with Electron 13.6.2).

[2022-01-17 18:55] Alzar commented on #72
Any fix ever come for this? Running into the same issue with 1.0.19 running Node 16.9.1 (Electron v16.0.7). If I downgrade to v1.0.18 it works without issue

[2022-01-17 20:05] Chaphasilor commented on #72
okay so it looks like there's a bit more going on than I initially thought, I'll take a closer look at it over the coming days :)

[2022-01-24 08:48] #71 closed

[2022-01-24 09:44] hgouveia commented on #58
fixed on #59

[2022-01-24 09:44] #58 closed

[2022-01-24 09:55] hgouveia commented on #64
@Luury  what i suspect is happening, is that when the download objects are store in vue data, they are treated as browser object, and this library only works in the nodejs context, what i would suggest is just keep the downloader object outside the vue data, and try to map them by id or something that you can call refer to them later

[2022-01-24 09:56] hgouveia commented on #62
@aleksey-hoffman i was checking this out with node 15 i didnt found any solution yet, is this still happening to you?

[2022-01-24 12:59] Luury commented on #64
@hgouveia,  You're right, that solved the problem.

[2022-01-24 13:30] #64 closed

[2022-01-24 15:52] aleksey-hoffman commented on #62
@hgouveia not working on 15.14.0. Using Node 16.x seems like a good solution.
It doesn't look like many people are having issue with this, so don't worry about it.

[2022-01-24 15:57] hgouveia commented on #62
@aleksey-hoffman cool thank! i will close it for now, if this happens in future version of node, please open it again i will try to find out the issue!

[2022-01-24 15:57] #62 closed

[2022-01-26 01:21] paul-jarrow opened #75 "Filenames parsed from the `Content-Disposition` headers are incorrect."
Hi there. We've recently identified an issue with this library when using the downloader alongside the JFrog Artifactory platform. This doesn't affect only this platform -- it could affect many platforms that use the aforementioned header.

If no `fileName` option is provided to **node-downloader-helper**, the helper will attempt to parse the file name from the `Content-Disposition` header. If the

[2022-01-26 08:40] Chaphasilor commented on #75
Hi there, thanks for the detailed breakdown of the issue and the potential solution!

I originally implemented the parsing and it seems like I overlooked the [`filename*=` section](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#directives)...

It looks like that fix really isn't too difficult, so I should be able to implement it soon :)

[2022-02-02 14:21] hgouveia commented on #72
@Chaphasilor  is this covered with your PR #76 ?

[2022-02-02 14:22] Chaphasilor commented on #72
Nope, didn't get around to this just yet. There was some refactoring and internal method renaming from 1.0.18 to 1.0.19 that seems to be causing this issue...

[2022-02-02 14:24] hgouveia commented on #72
@Chaphasilor not a problem, i though was related, i will take a look on my part 👍🏽

[2022-02-09 00:28] paul-jarrow commented on #75
Looks like the fix has been merged, thank you all!

[2022-02-09 00:28] #75 closed

[2022-02-09 09:42] hgouveia commented on #75
thanks for the report @paul-jarrow ! i will publish new version after @Chaphasilor  submit the new PR for upgrade to newer node version and remove the legacyURL

[2022-02-09 09:45] Chaphasilor commented on #75
Nah, don't wait for it, I don't have much time right now, and this PR has some important fixes :)

[2022-02-09 15:07] hgouveia commented on #60
Released on `2.0.1`

[2022-02-09 15:07] #60 closed

[2022-02-09 15:07] hgouveia commented on #69
Released on `2.0.1`

[2022-02-09 15:07] #69 closed, assigned to nobody

[2022-02-09 15:08] hgouveia commented on #75
Released on `2.0.1`

[2022-02-11 07:35] OxCom commented on #11
@hgouveia there are few issues that I know with streams on NodeJS (win/nix systems):
- pipe can stuck and do not receive the data at all. in this case we should implement timeout check the transferred data size during piping process
- before NodeJS 16 'finish' event sometimes can be missed, so we have to call 'close()' on stream by our own
- during download of the file we have to perform a check t

[2022-02-11 08:19] hgouveia commented on #11
@OxCom thanks! please feel free to contribute with a PR if you are able to, i will take a look into this suggestion as well

[2022-02-19 11:37] mohamed94eda opened #77 "Supporting multi connection if allowed"
Supporting multi connection if allowed since already implementing pipe

[2022-02-23 08:39] mohamed94eda opened #78 "Download hangs out if connection drops mid-progress and and doesn't emit any sign"
Download hangs out if connection drops mid-progress and and doesn't emit any sign, when connection come back it still hanging .

`let options = {
  retry: { maxRetries: 5, delay: 2500 },
  override: true,
  removeOnFail: true,
  progressThrottle: 1000,

};`

[2022-02-23 08:58] hgouveia commented on #78
hello @mohamed94eda  it seems this is similar issue than #11 , it seems to be related with some issue with nodejs itself that has been reported before but i am still unable to figure out a solution, but could you try adding a `timeout` to see what happens ?

[2022-02-23 09:04] mohamed94eda commented on #78
I did add the on('timeout)

But it doesn't get invoked either.

I noticed if connection drops for +60 sec this happens.

But if less than +-60 sec the download resumes as expected

[2022-02-23 09:18] hgouveia commented on #78
@mohamed94eda  you need to add the timeout to the options you have,  like this

[code]

[2022-02-23 09:52] mohamed94eda commented on #78
It does invoke the retrying attempts, but then throws an err `ENOENT : no such file or directory`

I can workaround it by setting`removeOnFail: false`

[2022-02-23 10:18] mohamed94eda commented on #78
Tried to refactor my code and increase the timeout you mentioned and yes it does workaround the issue, maybe include the timeout as an option in your package, great finding

[2022-02-23 10:26] hgouveia commented on #78
@mohamed94eda glad to here! yeap probably i will include it as a single `timeout` option  instead of `httpsRequestOptions: { timeout }` in the future! Thanks for the suggestion,

closing this

[2022-02-23 10:26] #78 closed

[2022-02-25 00:23] DrewImm opened #79 "If __removeFile() throws exception after an error occurred, the error will not be emitted/handled"
Stumbled on 4 occurrences in the code of missing `.catch()`/`.finally()`.

If __removeFile throws an exception, .then() will not be called, and the cleanup code will not execute.

`.then()` here should be changed to `.finally()`

e.g. (this one is from `__onTimeout()`)

[code]

Although `__removeFile()` does not call a promise rejector, that does not preclude it from throwing an exception (calling

[2022-02-25 00:28] DrewImm opened #80 "__resetStats does not reset throttleTime"
Don't know if that's a problem. Just a heads up

[2022-03-04 10:51] hgouveia commented on #79
hello @DrewImm , in theory `__removeFile` shouldnt throw an error, since all the calls we made in there, like the `fileStream.close` and `fs.unlink` use the nodejs callback way of thing, i mean `callback(err, result)` , and each of this calls we are not checking for `err` , and `resolve` netherless , i intetionally  resolve even if fails since this doesnt mean it wasnt stopped but i agree as extra

[2022-03-08 17:55] khkassem opened #81 "Downloading through proxy with authentication"
Hi

I am using the latest version with Electron 9 - node 12

I am trying to pass through a proxy with authentication when downloading and i get an error 400

[code]

and this.proxyAgent is :

[code]

the Error stack :

[code]

I use the same proxyAgent with axios without any problem in the same application

Is proxy not supported in node-downloader-helper or I am doing it the wrong way?

Thank you

[2022-03-09 08:34] hgouveia commented on #81
Hello @khkassem , looking the code it should work, since the library just pass this information directly to `https` protocol when making the request,  i am wondering if probably you are using a `http` url instead of `https` ? just to make sure, add the option to both

[code]

[2022-03-09 09:51] khkassem commented on #81
Hello

My destination URL is https, but I tried the two cases, I get the same error (400), if i put only httpRequestOptions (not https) I get an error 403.

the authentication is not the problem, i tested on a squid proxy without authentication and i get the same errors.

I tried global-agent (https://www.npmjs.com/package/global-agent) and i get the same results.

I looked to the code of node-dow

[2022-03-10 00:36] khkassem commented on #81
Hello

I continued my investigation, the query is arriving to the proxy - from the logs of the proxy squid :
1646871838.114    335 127.0.0.1 TCP_TUNNEL/200 722 CONNECT zzz.mydomain.fr:443 - HIER_DIRECT/xxx.xxx.xxx.xxx -

and its arriving to my apache server, i get this line in the access logs of my apache server (400) :
xxx.xxx.xxx.xxx - - [10/Mar/2022:01:31:46 +0100] "GET / HTTP/1.0" 400 476

So

[2022-03-10 08:48] llh13558455105 opened #82 "url is incomplete"
full url：http://xxx.xxx.xx.xx/5865b78a7ecd011273470606ae0f5de4.zip?Expires=1646898756

in  sever-side ：http://xxx.xxx.xx.xx/5865b78a7ecd011273470606ae0f5de4.zip

it lose “Expires=1646898756”！！！

[2022-03-14 09:16] milkliker opened #83 "The path drops all GET params"
https://github.com/hgouveia/node-downloader-helper/blob/30b3dfec11c9ab45abd62c25cb6d00e03a982634/src/index.js#L845

[code]

[2022-03-14 09:39] hgouveia commented on #81
@khkassem it seems this issue is related with #82 , i will try to release a fix soon and probably should fix yours aswell

[2022-03-14 20:12] #13 closed

[2022-03-14 20:15] hgouveia commented on #53
Hello @umerkk, it seems the issue was not related with `RemoveOnStop` but with some functionallity that was triggered to calculate the filesize when finished, sometimes this event is triggered even when aborted so it seems was causing the error, i fixed it on #53, hopefully should fix this issue

Implemented on v2.1.0

[2022-03-14 20:15] #53 closed

[2022-03-14 20:15] hgouveia commented on #79
Implemented on v2.1.0

[2022-03-14 20:15] #79 closed

[2022-03-14 20:16] hgouveia commented on #82
Implemented on v2.1.0

[2022-03-14 20:16] #82 closed

[2022-03-14 20:16] hgouveia commented on #83
Implemented on v2.1.0

[2022-03-14 20:16] #83 closed

[2022-03-14 20:16] #80 closed

[2022-03-14 20:17] hgouveia commented on #63
Implemented on v2.1.0

[2022-03-14 20:17] #63 closed

[2022-03-14 20:17] hgouveia commented on #81
Implemented on v2.1.0, let me know if this solved this issue as well

[2022-03-15 14:09] khkassem commented on #82
Hello

It still not working, the same error 400, when I debugged it last time, I have a doubt that the query parameters were not taken, I tested with an url without any query params and it still not working after the update.
I am trying to move to axios, its ok and passing the proxy but i have many
`Error [ERR_STREAM_PREMATURE_CLOSE]: Premature close in Node Pipeline stream]`

node-downloader-help

[2022-03-15 14:21] khkassem commented on #81
Hello

It still not working, the same error 400, when I debugged it last time, I have a doubt that the query parameters were not taken, I tested with an url without any query params and it still not working after the update.
I am trying to move to axios, its ok and passing through the proxy but i have many
Error [ERR_STREAM_PREMATURE_CLOSE]: Premature close in Node Pipeline stream]

`node-download

[2022-03-15 20:07] #72 closed

[2022-03-15 21:59] khkassem commented on #81
Hello

I am a litte more advanced, its Electron js which cause the problem.
I tried the sample by adding the proxy to the file example/index.js and its working I can download through the proxy, I added the same file to my Electron js project and its not working i get the error 400.

I am using electron 9, I am going to try with a newer version.

[code]

[2022-03-15 22:18] khkassem commented on #81
Hello

I tried with a fresh installed Electron 9 project and its working, there is something in my project! I tried on Electron 17 and its working.
I'll try to figure it out on my project but it will be difficult, if you have any hint which can help me
Thank you

[2022-03-16 07:39] ginsm opened #84 "Silence redirectURL output"
Hey there,

Is there any way to silence the `redirectURL <url> <url>` output? I looked around the README and code but couldn't quite find where it was coming from.

Thanks! :)

[2022-03-16 08:32] hgouveia commented on #84
Hello @ginsm , I don't really understand what is the redirectURL output, since it shouldn't output anything, could you send me an example of this?

[2022-03-16 09:34] ginsm commented on #84
Hey, thanks for getting back to me. That was my impression while reading the code as well -- I couldn't find anywhere that would cause such an output. Here's an example though:

![image](https://user-images.githubusercontent.com/52685959/158557355-2401654a-2013-4f0b-bbb4-5658e63e3fe9.png)

And here's a gist containing the two files where I'm utilizing `node-downloader-helper` (and my `package.json

[2022-03-16 10:50] hgouveia commented on #84
Hello @ginsm , this is a really weird thing, i am not sure if related with an specific `node.js` version or is there any debug flags, or something related with `*nix` version of node? but i just tried to reproduce it using your code and for me is working fine,

![image](https://user-images.githubusercontent.com/668866/158573340-267330cd-f48d-4bc0-afc4-885272112266.png)

Could you try to upgrade yo

[2022-03-16 11:27] ginsm commented on #84
I updated `node-downloader-helper` (and `esbuild`) which seems to have resolved the issue (probably should've been one of the first things I did :sweat_smile:). It may have been something to do with `esbuild`? I don't know lol. Either way, it's working as it should now, thank you! :)

[2022-03-16 11:27] #84 closed

[2022-03-16 11:37] hgouveia commented on #81
@khkassem mm interesting, this library uses the native `http` and `https` modules, make sure to use them in the main process and communicated with it with ipc and not in the renderer process unless you have `nodeIntegration: true` , but if that is not the case, i wonder if you are using any other library that might be modifying the default behavior of `http` or `https` modules ? you could try to d

[2022-03-16 11:50] khkassem commented on #81
Hello

I just did a test by removing all my code from my main.js of electron, and added only code from the clean electron project, and it still not working (I didn't change anything in package or npm install) but the new main.js is loading nothing but the the node-downloader and electron stuff.

for me, electron must load nothing if its not imported or required, npm install itself can change thing

[2022-03-16 12:36] hgouveia commented on #81
Hello @khkassem , moved the conversation into the discussion #85 ,  lets continue there, i will close this for the moment since this issue seems to be related more about electron itself, but lets try to figure out there what we could do

[2022-03-16 12:36] #81 closed

[2022-03-28 02:44] llh13558455105 commented on #82
the same error when i try to resumeFromFile

[2022-04-04 10:11] bbreukelen opened #86 "Download fails on second redirect"
Hello,

An http redirect works, but a second redirect fails on line 324.
After the first redirect, getTotalSize expects the response to that redirect to be status 200.
If it's another 301 or 302 it will fail. Would it be possible to loop the redirect process?
I ran into it on dropbox who uses a double redirect for download links.
For example: https://www.dropbox.com/s/nhr4ii7tl7cjaly/ski.mp4?dl=1

[2022-04-05 13:56] hgouveia commented on #86
hello @bbreukelen  i had checked this and i wasnt able to reproduce, the redirect is followed correctly, could you give me more information how to repro this? for example what options did you use and how you start the download? thanks

![image](https://user-images.githubusercontent.com/668866/161770032-b432879d-d00e-4a2e-ac48-1a6838afcac1.png)

[2022-04-05 15:40] hgouveia commented on #86
Hello @bbreukelen  i was able to reproduce with your example, i found a solution, could you try this code below before i release a new version? , this is your example, the only change is overriding of the `getTotalSize` function, let me know if working for you, also try without resume as well

[code]

[2022-04-06 08:50] bbreukelen commented on #86
Brilliant, that works fine, also when resuming a file. Thanks a lot!

[2022-04-06 12:26] #86 closed

[2022-04-06 14:02] hgouveia commented on #86
Fixed on 2.1.1 please upgrade, thanks!

[2022-04-08 06:20] beiguancyc commented on #11
I met the same question and

const dl = new DownloadHelper(url, __dirname, { httpsRequestOptions: { timeout: (1000 * 60 * 60) * 3 } }

is not work for me

[2022-04-29 09:41] khkassem opened #87 "Downloaded size exceed 100%"
Hello

Somtimes, without knowing the reason, i have the file continue downloading after 100% !
From my download logs :
[2022-04-29 02:42:42.554] [silly] 528.0 kB/s - 1596.5% [4.7 GB/304.1 MB]

How it can happens?

Thank you

[2022-04-29 09:53] hgouveia commented on #87
Hello @khkassem, is this happening with different URL or only with this specific file?  what could be happening is that the server is reporting wrongly the file size, ndh uses `content-length` header to determine the file size,  if these URL are public, could you share it so i can try to reproduce myself? thanks

[2022-04-29 09:58] khkassem commented on #87
Hello

I have  70 users downloading the same files, and i get this problem on 50% of them, when I download the file using chrome its ok, some times just restarting my software will continue the download correctly

The url is not public for now, i'll see if i can generate a public link with the same conditions.

Best reegards

[2022-04-29 11:47] hgouveia commented on #87
cool, also would be very helpful to know which version are you using, what options are you using, and repro steps, so i can try to reproduced it on my end

[2022-05-01 07:26] khkassem commented on #87
Hello

It seems that I have this problem when I have multiple downloads at the same time I'll add this code to the progress management :
[code]
Just to stop the download when the downloaded file size is more than the file size itself.

I am using node 12 and i am not able to ugrade now.
I am using node downloader helper 2.1.0, I'll try to upgrade to the latest

Thank you

[2022-05-31 08:37] Bluesgavin opened #88 "downloaded file not completed"
Hi, I downloaded a image using the readme sample. But i got an incomplete image sometime. how can i solve this?

[code]
![image](https://user-images.githubusercontent.com/41565350/171129978-b999bb02-9d24-47e5-985b-2c7796ce087c.png)

[2022-05-31 16:08] Chaphasilor commented on #88
Any errors being logged? Actual URLs would be nice to have for troubleshooting :)

[2022-06-01 03:06] Bluesgavin commented on #88
There's no errors. The end event was normally emitted.

This is one of the URLs.
https://dmai-aea.oss-cn-guangzhou.aliyuncs.com/aea/course/c1bdb590-6d26-493e-981c-305f9bf52fb3-.png

[2022-08-04 16:18] hgouveia commented on #88
@Bluesgavin unfortunately there is nothing i can't do about this, this seems to be node.js level , is quite common but i just added new behavior that will resume the download if detect is incomplete, please check if solves it for you

[2022-08-04 16:19] hgouveia commented on #11
added new behavior in v2.1.2, that will resume the download if detect is incomplete

[2022-08-04 16:20] #11 closed

[2022-08-04 16:39] hgouveia commented on #87
@khkassem i released a new version v2.1.2 , could you try with this, and see if still happening?, also please make sure to create a `new DownloadHelper` per file

[2022-08-05 02:38] Bluesgavin commented on #88
thank alot for your help 😀

[2022-08-14 08:56] roddc commented on #87
I also have this problem, it seems to happen on insufficient disk space too.

[2022-09-02 17:44] SplitGemini commented on #87
exceed 100% +1

[2022-09-02 18:23] SplitGemini commented on #87
It happened when remote file is not resumable but a resume method call is performed. Such as restarting the file server

[2022-10-28 22:21] Half-Shot opened #90 "Node.JS versions in CI look stale"
A few things popped out at me:

 - Node.JS 15 is out of support
 - Node.JS 18/19 aren't tested (the former being LTS)
 - Publish step currently uses Node 14, which is the [oldest version of Node still supported](https://github.com/hgouveia/node-downloader-helper/blob/master/.github/workflows/npmpublish.yml). It's probably fine for the moment, but should be updated to a newer version soon.

[2022-10-31 06:13] khkassem opened #91 "resumeFromFile not working through proxy"
Hello

I am trying to use the resumeFromFile function through a proxy with authentication and it seems not working. when I use the same code without proxy it's downloading fine.

[code]

The events start and download are not called when using a proxy, if the file (prevFilePath) is not found, I call start() all is OK with or without proxy.

[2022-10-31 09:33] #88 closed

[2022-11-02 08:58] khkassem commented on #91
Hello

I retried from my side, on a SQUID Proxy with basic authentication  and it is working, but on more than 50 users I get no download start when calling resumeFromFile, even if the file exists...
No event start or download fired, so I don't know if its something on the proxy, or i missed something which squid proxy can manage it but not the users proxy (I don't know what type of proxy they use

[2022-11-02 09:04] hgouveia commented on #91
@khkassem i believe is a bug on my part i did check it as soon i got the issue, but the real issue is in the "getTotalSize" https://github.com/hgouveia/node-downloader-helper/blob/master/src/index.js#L391 that is not reusing the http/httpsRequestOptions so is not using the Agent with proxy https://github.com/hgouveia/node-downloader-helper/blob/master/src/index.js#L357, i will fix that when i have

[2022-11-02 16:21] khkassem commented on #91
Hello

If it may help, i override the DownloadHelpper class and I changed the __getOptions function adding this line

_** httpsRequestOptions: this.getOptions()['httpsRequestOptions'],**_

[code]
and it seems OK, i am going to test it on another proxy configuration

[2022-11-22 13:13] #91 closed

[2022-11-22 14:12] hgouveia commented on #90
Upgraded publish actions to node 18 LTS,  v2.1.5

[2022-11-22 14:12] #90 closed

[2022-11-22 14:12] hgouveia commented on #91
@khkassem this should be fixed now in v2.1.5, let me know if this solved it for you